# Object files
*.o

# Libraries
lib*.a
# Executables
*.out
*.a
*.exe

# Others 
*.bak
*.list
*.lst
*.map
*.elf
*.prefs
*.class

*.txt
*._txt
*.txt_
*.uid

*.c_
*.cpp_
*.h_

*.list_

# Linux 
.nfs*
.nfs.*

# Apple
.DS*
._.DS*
._*

# Eclipse
.tracecompass
*/.tracecompass

# H2+/H3 binaries 
uImage
*.uImage
*.uImage.gz
orangepi*.img
orangepi*.img.gz

# Broadcom binaries
kernel.img
kernel7.img

# lib-i2c
i2cdetect

# lib-display
detect
lcd1602
lcd2004
oled128x32
ssd1306
ssd1311

# lib-l6470
get_set_param_test
get_temp
input_output
limit_switch
precise_move
simple_move
SparkFunGetSetParamTest
#lib-rdmnet
dummy_device

# lib-pca9685
servo
simple

# lib-tlc59711
pwmled

artnet.txt
e131.txt
osc.txt
*.MacOS
# 
*.gz

# Scripts
loop.sh
do-tftp.sh
*/do-tftp.sh
do-tftp-one.sh
*/do-tftp-one.sh

#
mcp3424
linux_artnet/linux_artnet
linux_ddp/linux_ddp
linux_e131/linux_e131
linux_osc/linux_osc
linux_pp/linux_pp
*/spiflash.bin
*.bin

software_version_id.h

/lib-eve
/lib-network/src/emac/gd32/dsa
/lib-nextion
/lib-node
/lib-showfile/Doxygen
/opi_emac_eve_example
*._h
*._cpp
/opi_emac_debug_lcd_udp
/lib-dmxnode
opi_emac_llrp_tftpd/do-tftp-bad.sh
